{% set title = name | replace("@wowlab/", "") | replace("@apps/", "") %}
{% if display_name %}{% set title = display_name %}{% endif %}
{% set summary = description %}
{% if subtitle %}{% set summary = subtitle %}{% endif %}
<p align="center">
  <a href="https://github.com/wowlabdev/web">
    <img alt="WoW Lab" src="https://wowlab.gg/logo.png" width="32" />
  </a>
  <br />
  <strong>{{ title }}</strong>{% if summary %} - {{ summary }}{% endif %}
</p>

---
